.body, #mainPanel, #bannerPanel, #contentPanel, #navPanel {
    margin: 0px;
}

.header1, .header2, .header3 {
  font-family: arial;
  font-size: 134%;
  color: white;
}

.header1 {
  font-weight: 900;
  font-size: 134%;
}

.header2
{
  font-weight: 900;
  font-size: 117%;
  color: white;
}

.header3 {
  font-weight: 900;
  font-size: 75%;
  color: white;
}

.normal {
  font-family: arial;
  font-weight: 500;
  font-size: 100%;
  color: white;
}

.normalForm {
  font-family: arial;
  font-weight: 500;
  font-size: 100%;
  color: black;
}

.Link {
  font-family: arial;
  font-weight: 500;
  font-size: 100%;
  color: white;
}

.logoDJ {
	position: relative;
	left: 0px;
	top: 0px;
}

.logoAVLS {
	position: relative;
	left: 30px;
	top: 0px;
}

#mainPanel {

    position: absolute;
    left: 50px;
    top: 10px;
    
    width: 800px;

    background-color: black;
    
    border-style: solid;
    border-width: 0px;
    border-color: #058;
}

#bannerPanel {
    
    position: relative;
    margin: 0px;
    border: 0px;
    
    top: 0px;
    left: 0px;
}

#navPanel {

    position: relative;
    margin: 0px 0px 40px 0px;
    
    top: 0px;
    left: 0px;
    
    border: 0px;

    
    padding-top: 2px;
    padding-bottom: 2px;
    
    font-family: arial;
    font-size: 100%;
    font-weight: normal;
    color: white;
    
    height: 25px;
    width: 100%;
    
}

#navPanel a {
    color: white;
    text-decoration: none;
}

#navPanel a:hover {
    color: #45B535;
    text-decoration: underline;
}

#contentPanel {

    position: relative;
    margin: 0px;
    
    top: 0px;
    left: 0px;
    
    font-family: arial;
    font-size: 100%;
    font-weight: normal;
    color: white;
    
    text-align: left;
    
    border-width: 0px;
    border-color: green;
    border-style: solid;

    width: 100%;
    height: 100%;
}

#rightFloatNavPanel {

    float: right;
    margin: 10px 0px 10px 10px;

    border-width: 0px;
    border-color: white;
    border-style: solid;
    
}

/*.scrollingContentPanel {

    position: relative;
    margin: 0px;
    
    top: 0px;
    left: 0px;
    
    font-family: "comic sans ms", arial;
    font-size: 100%;
    font-weight: normal;
    color: white;
    
    text-align: left;
    
    border-width: 0px;
    border-color: white;
    border-style: solid;
    
    overflow: auto;
}*/

.navImage {
    margin: 5px 0px 5px 5px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
}

.content {
	border-style: solid;
	border-color: white;
	border-width: 0px;
        
	font-family: arial;
	font-size: 100%;
	font-weight: 500;
	color: white;
}

body {
    -webkit-text-size-adjust: none;

    background-color: black;
    text-align: center;
    margin-top: 150;

    font-family: arial;
    font-size: 75%;
}

a {
    font-family: arial;
    font-size: 100%;
    font-weight: normal;
    color: white;
}

div.clearer {
    clear: both;
    height: 0px;
    line-height: 0px;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}
