#packageBuilderPanel {
    position: relative;
    top: 5%;
    left: 2.5%;
    border-style: solid;
    border-color: #EEE;
    border-width: 1px;
    width: 95%;
    height: 80%;

    overflow: auto;
}

div#packagesPanel {
    position: relative;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 100%;
    display: inline;

    border-style: solid;
    border-color: red;
    border-width: 0px;

    color: black;
}

.packageOption {
    position: relative;
    top: 0px;
    left: 0px;

    width: 98%;

    border-style: solid;
    border-color: gray;
    border-width: 0px 0px 0px 0px;

    padding: 5px 5px 5px 5px;

}

.packageOption input {
    margin: 5px 10px 5px 5px;
}

.packageHeader {
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;

    border-style: solid;
    border-color: #EEE;
    border-width: 0px 0px 1px 0px;

}

.packageHeader a {
    min-width: 20px;
    min-height: 20px;
    
    border-style: solid;
    border-color: black;
    border-width: 1px;

    cursor: pointer;
    text-decoration: none;
    padding: 0px 2px 0px 2px;
    font-size: 6pt;

    color: black;
}

.caret {
    position: absolute;
    top: -6%;
    left: 10%;

    width: 12px;
    height: 10px;
}

.expandingPackagePanel {
    position: relative;
    top: 0px;
    left: 0px;
    height: 0px;
    display: none;
    margin: 0px 0px 0px 0px;
    padding: 5px 5px 5px 5px;

    border-style: inset;
    border-color: #AAA;
    border-width: 0px 1px 1px 1px;

    background: -webkit-gradient(linear, left top, left bottom,
            color-stop(0, #111),
            color-stop(0.05, #444),
            color-stop(0.5, #777),
            color-stop(0.95, #444),
            color-stop(1, #111));

    background: -moz-linear-gradient(top,  #111 0%, #444 10%, #777 50%, #444 90%, #111 100%);

    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;

    color: white;
    text-shadow: #000 1px 1px 1px;
    font-size: 112%;
    
}

div#total {
    color: red;
}

.expanding_panel_button {
    text-decoration: none;
    width: 150px;
    height: 20px;

    margin-top: 4px;

    border-style: solid;
    border-width: 1px;
    border-color: #E5EDEF;

    font-family: arial;
    font-weight: bold;
    font-size: 100%;
    color: white;

    cursor: pointer;
    text-align: center;
    vertical-align: middle;

    background: -webkit-gradient(linear, left top, left bottom,
            color-stop(0, #E5EDEF),
            color-stop(0.5, #4E95B7),
            color-stop(0.5, #5AA0C1),
            color-stop(1, #8BB9D7));

    background: -moz-linear-gradient(top,  #E5EDEF,  #4E95B7);

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;

    text-shadow: #000 -0px 0px 0px;
}

#packageBuilderPopUp {
    position: absolute;
    /*top: -10%;
    left: 5%;*/
    opacity: 0.0;
    border-style: solid;
    border-width: 1px;
    border-color: white;

    /*width: 90%;
    height: 35%;*/

    background-color: white;

    z-index: 999;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 2px 2px 2px #999;
    -moz-box-shadow: 2px 2px 2px #999;
    -box-shadow: 2px 2px 2px #999;

    display: none;
}

#packageBuilderPopUpClose {
    position: relative;
    top: 1%;
    left: 96%;
    width: 17px;
    
    cursor: pointer;
}

.packageBuilderLink {
   color: #4E95B7;
   text-decoration: underline;
   cursor: pointer;
}
